@import url("https://fonts.googleapis.com/css?family=BioRhyme:400,800|Cabin");
@import url("https://fonts.googleapis.com/css?family=Istok+Web|Montserrat:400,800,900");
.letters {
  min-width: 80px;
  position: relative;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }
  .letters .letter-square {
    text-align: center;
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: #2C3A47;
    background-color: #CAD3C8; }
