// _variables.scss

@import url('https://fonts.googleapis.com/css?family=BioRhyme:400,800|Cabin');
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Montserrat:400,800,900');

$heading-font: 'Montserrat', sans-serif;
$body-font: 'Istok Web', sans-serif;

$primary-color: #CAD3C8;
$background-color: #2C3A47;